{% extends 'base.html' %}

{% block title -%}
<title> Inicio </title>
{%- endblock %}

{% block script -%}
<script type="text/javascript"	src="{{ url_for('static', filename='script.js') }}"></script>
{%- endblock %}

{% block header %}
{{ macro.img_link(url_for('profile.main', user = g.user), url_for('static', filename='img/blog/profile.svg'), alt='profile settings') }}

<div>
  <h1>
    {{ macro.link('Mini Blog', url_for('home.main')) }}
  </h1>
  <div>{{ g.user }}</div>
</div>

{{ macro.img_link(url_for('auth.logout'), url_for('static', filename='img/blog/logout.svg'), alt='logout') }}
{% endblock %}

{% block content -%}
<aside>
  <h4>Actions</h4>
  <ul class='link'>
    <li>
      {{ macro.link('Create new post', url_for('profile.create'))  }}
    </li>
    <li>
      {{ macro.link('View my public posts', url_for('home.my_posts', user = g.user, access='public')) }}
    </li>
    <li>
      {{ macro.link('View my private posts', url_for('home.my_posts', user = g.user, access='private')) }}
    </li>
  </ul>
</aside>

<section>
  <br>
  {% for post in posts %}
  <div class="post">
    <div>
      <a href="{{ url_for('home.post', id_post = post.id ) }}">
	<h4> {{ post.title.title() }} </h4>
	<p>
	  {{ post.text }}
	</p>
	{% if post.img %}
	<div>
	  {{ macro.img_link(url_for('home.post', id_post = post.id), url_for('static', filename = post.img), alt=post.img) }}
	</div>
	{% endif %}
      </a>
    </div>
    <div class="metadata">
      <div>
	<div>
	  {{ macro.img(url_for('static', filename='img/blog/like.svg'), alt='Like') }}
	</div>
	<span id="likes{{ post.id }}">
	  {{ post.likes }}
	</span>
      </div>
      <div>
	{{ macro.img_link(url_for('home.main'), url_for('static', filename='img/blog/comment.svg'), 'comment') }}
      </div>
      <div>
	{{ macro.img_link(url_for('home.main'), url_for('static', filename='img/blog/share.svg'), 'share') }}
      </div>
      <div>Posted {{ post.date }} by {{ post.author }} </div>
    </div>

  </div>
  {% endfor %}
</section>

<article>
  <h4> Top news </h4>
  <div>
    <!-- Birthdays   -->
    <h5>Upcoming birthdays</h5>
    <ul>
      {% for user in birthdays %}
      <li>
	<div>
	  {{ macro.img(url_for('static', filename='img/blog/cake.svg')) }}
	</div>
	<div>
	  <div>
	    {{ user.first_name }} {{user.second_name }}
	  </div>
	  <div>
	    {{ user.birthday.strftime('%b %d') }}
	    <span>({{ today.year - user.birthday.year}})</span>
	  </div>
	</div>
      </li>
      {% endfor %}
    </ul>
  </div>

  <div>
    <!-- Quote of the day -->
    <h5>Cat facts</h5>
    <div>
      {% if response %}
      <p>
	{{ response.fact }}
      </p>
      {% endif %}
    </div>
  </div>
</article>
{%- endblock %}

